<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcitytestv1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCityTestV1"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".city_acitivity.CityActivityActivity"
            android:exported="false" />
        <activity
            android:name=".metro.MetroPageActivity"
            android:exported="false" />
        <activity
            android:name=".metro.MetroDetailActivity"
            android:exported="false" />
        <activity
            android:name=".metro.MetroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Person.activities.FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Person.activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Person.activities.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Person.activities.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".park.ParkRecordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".park.ParkDetailActivity"
            android:exported="false" />
        <activity
            android:name=".park.ParkActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>